.nav-item {
  text-align: center;
}

.navbar {
  background-color: rgba(16, 12, 8, 0.65);
  font-size: 17px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .navbar {
    background-color: rgba(16, 12, 8, 0.95);
  }
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}